.tab-pane.fade#finalsubmissions
  %h3 Final submissions
  %table.table.table-hover.table-striped
    - if @all_submissions.empty?
      %p No submissions found.
    - else
      %tr
        %th Submitted by
        %th Uni ID
        %th Latest Finalised
        %th Latest Attachment
      - @course.students.each do |s|
        %tr
          %td
            = link_to s.full_name, user_path(s)
          %td
            = link_to s.uid, user_path(s)
          %td
            - finalised_submissions = s.submissions_for(@assignment).select{|x| x.finalised?}
            - if finalised_submissions.empty?
              .warn
                No Submission
            - else
              - finalised_submission = finalised_submissions.last
              = link_to finalised_submission.created_at.strftime('%d/%m/%Y %I:%M%p'), submission_path(finalised_submission), class: "good"
          %td
            - last_attachments = s.submissions_for(@assignment).select{|x| x.comments.present? && x.comments.pluck(:attachment).compact.present?}
            - if last_attachments.empty?
              .warn
                No Attachment
            - else
              - last_attachment = last_attachments.last
              = link_to last_attachment.created_at.strftime('%d/%m/%Y %I:%M%p'), submission_path(last_attachment), class: "good"