<div class="col-md-3 sidebar">
  <ul class="nav sidenav" id="sidebar">
    <li><h4>Actions<div class="menu-icon-container"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h4></li>
    <hr>
    <% if current_user.is_admin_or_convenor? %>
    <% end %>
  </ul>
</div>
