<div class="col-md-4 col-md-offset-4">
<%- if not user_signed_in? %>
  <%= link_to "Sign in", "/users/sign_in" %>
<% end -%>

<%- if user_signed_in? %>
  <%= link_to "Sign out", "/users/sign_out" %>
<% end -%>

|

<%- if user_signed_in? %>
  <%= link_to "Courses", "/courses" %>
<% end -%>

</div>
