<div class="col-md-3 sidebar">
  <ul class="nav sidenav" id="sidebar">
    <li><h4>Actions<div class="menu-icon-container"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h4></li>
    <hr>
    <% if current_user.is_admin_or_convenor? %>
      <li class="sidebar-item">
        <%= link_to group_path(@group), method: :delete,
        data: { confirm: "Are you sure you wish to delete " + @group.course.code + " " + @group.name + "?"} do %>
          <span class="glyphicon glyphicon-trash"></span>Delete group
          <% end %></li>
    <% else %>
      <li class="sidebar-item"><a>Nothing to see here.</a></li>
    <% end %>
  </ul>
</div>
