<div class="row">
    <h1 class="page-header">Create a new group</h1>
    <p>Create the group and batch enroll users using newline seperated student IDs and group names joined with a comma. e.g u1234567, Tuesday 9-11.</p>
    <p>Groups that do not currently exist will be created.</p>

    <h3>Enrolments</h3>

    <%= form_for :group, url: groups_url, :html => {:class => "form-horizontal"} do |f| %>

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input name="course_id" type="hidden" value="<%= params[:id] %>" />

      <div class="col-md-6">
        <label class="control-label " for="students">Students</label>
        <div class="input-group "><div class="controls">
          <textarea id="students" name="students" class="form-control" rows=10 cols=50
            placeholder="Paste newline seperated student IDs and group names. e.g: uxxxxxxx, Tuesday 9-11"></textarea>
            <input id="csv_upload" name="csv_upload" type="file">
        </div></div>
      </div>

      <div class="col-md-6">
        <label class="control-label " for="tutors">Tutors</label>
        <div class="input-group "><div class="controls">
          <textarea id="tutors" name="tutors" class="form-control" rows=10 cols=50
            placeholder="Paste newline seperated tutor IDs and group names. e.g: uxxxxxxx, Tuesday 9-11"></textarea>
      </div></div>

      <div class="input-group"><div class="controls">
        <input type="submit" value="Create" class="btn btn-primary" style="float:left;">
      </div></div>

      </div>
      <% end %>
</div>
