<div class="col-md-3 sidebar">
  <ul class="nav sidenav" id="sidebar">
    <li><h4>Actions<div class="menu-icon-container"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h4></li>
    <hr>
    <li class="sidebar-item"><a href="/courses"><span class="glyphicon glyphicon-eye-open"></span>View courses</a></li>
    <li class="sidebar-item"><a href="/assignments"><span class="glyphicon glyphicon-eye-open"></span>View assignments</a></li>
  </ul>
</div>
