.col-md-3.sidebar
  %ul#sidebar.nav.sidenav
    %li
      %h4
        Actions
        .menu-icon-container
          %span.glyphicon.glyphicon-tasks.menu-icon
    %hr/
    %li.sidebar-item
      %a{:href => "/submissions/#{@assignment.id}/new"}
        %span.glyphicon.glyphicon-plus
        New submission
    %li.sidebar-item
      %a{:href => "/submissions/#{@submission.id}/finalise"}
        %span.glyphicon.glyphicon-check
        Finalise submission
    %li.sidebar-item
      = link_to submission_path(@submission), method: :delete, |
        data: { confirm: "are you sure you wish to delete this submission?"} do |
        %span.glyphicon.glyphicon-trash
        Delete submission