:javascript
  tableoptions = {
    "searching": true,
    "order" : [],
    "pageLength": 25,
    "pagingType": "full_numbers",
    "dom": '<<"top"lf><"top-pagination"p><t>ip>'
  }

  var enrolments_table = $('#enrolments-table').DataTable(tableoptions);

  document.addEventListener("turbolinks:before-cache", function() {
    enrolments_table.destroy();
  });