<div class="col-md-3 sidebar" id="sidebar">
  <ul class="nav sidenav">
    <li><h4>Actions<div class="menu-icon-container"><span class="glyphicon glyphicon-tasks menu-icon"></div></h4></li>
    <hr>
    <% if current_user.is_admin_or_convenor? %>
      <li class="sidebar-item"><a href="/courses/new"><span class="glyphicon glyphicon-plus"></span>New course</a></li>
    <% end %>
    <li class="sidebar-item"><a href="/assignments"><span class="glyphicon glyphicon-tasks"></span>View Assignments</a></li>
    <li class="sidebar-item"><a href="<%= user_path(current_user) %>"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
  </ul>
</div>
