<div class="col-md-3 sidebar">
  <ul class="nav sidenav" id="sidebar">
    <li><h4>Actions</h4></li>
    <hr>
    <li class="sidebar-item"><a href="#">Edit course</a></li>
    <li class="sidebar-item"><a href="#">Edit enrolments</a></li>
    <li class="sidebar-item"><a href="/assignments/new/<%= @course.id %>" %>Create assignment</a></li>
    <li class="sidebar-item"><a href="#">Delete course</a></li>
  </ul>
</div>
