<div class="col-md-3 sidebar">
  <ul class="nav sidenav" id="sidebar">
    <li><h4>Actions</h4></li>
    <hr>
    <% if current_user.is_admin_or_convenor? %>
      <li class="sidebar-item"><%= link_to 'New course', new_course_path %></li>
    <% end %>
    <li class="sidebar-item"><%= link_to 'View Assignments', assignments_url %></li>
    <li class="sidebar-item"><%= link_to 'Profile', user_path(current_user) %></li>
  </ul>
</div>
