<div class="row">
    <h1 class="page-header">Create a new course</h1>
    <p>Create the course and batch enroll users by pasting newline seperated university IDs in the appropriate fields below. After course creation, you will be able to enroll users in groups.</p>
    <%= form_for @course, :html => {:class => "form-horizontal"} do |f| %>

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

      <div class="col-md-6">
        <h3>Course details</h3>
        <label class="control-label " for="course_code">Course code</label>
        <div class="input-group "><div class="controls">
          <input id="course_code" name="course_code" type="text" placeholder="COMPxxxx" class="form-control" size=57>
        </div></div>

        <label class="control-label " for="name">Course name</label>
        <div class="input-group "><div class="controls">
          <input id="name" name="name" type="text" placeholder="Introduction to Computing" class="form-control" size=57>
        </div></div>

        <label class="control-label " for="description">Description</label>
        <div class="input-group "><div class="controls">
          <textarea id="description" name="description" class="form-control" rows=20 cols=50
            placeholder="Optional"></textarea>
        </div></div>

      <div class="input-group"><div class="controls">
        <input type="submit" value="Create" class="btn btn-primary" style="float:left;">
      </div></div>
      </div>

      <div class="col-md-6">
        <h3>Enrolments</h3>
        <label class="control-label " for="students">Students</label>
        <div class="input-group "><div class="controls">
          <textarea id="students" name="students" class="form-control" rows=10 cols=50
            placeholder="Paste newline seperated student IDs, or upload a CSV below. e.g: uxxxxxxx"></textarea>
            <input id="csv_upload" name="csv_upload" type="file">
        </div></div>

        <label class="control-label " for="tutors">Tutors</label>
        <div class="input-group "><div class="controls">
          <textarea id="tutors" name="tutors" class="form-control" rows=10 cols=50
            placeholder="Paste newline seperated tutor IDs. e.g: uxxxxxxx"></textarea>
        </div></div>

        <label class="control-label " for="convenors">Convenors</label>
        <div class="input-group "><div class="controls">
          <textarea id="convenors" name="convenors" class="form-control" rows=10 cols=50
            placeholder="Paste newline seperated convenor IDs. If you are the only course convenor, leave this blank. e.g: uxxxxxxx"></textarea>
        </div></div>
      </div>
        
      <% end %>
</div>
