/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.footer {
  height: 50px;
  padding-top: 25px;
}

form label {
  font-size: 14px !important;
  padding: 0 0 0 10px;
}

form textarea {
  font-size: 14px !important;
}

form .controls {
  padding: 10px 10px;
}

.hidden {
  display: none;
}

.alert {
  cursor: pointer;
}

/* Add some more aliases to bootstrap styles for devise */
.alert-notice {
  margin-bottom: 2px !important;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-notice hr {
  border-top-color: #c9e2b3;
}
.alert-notice .alert-link {
  color: #2b542c;
}
.alert-info {
  margin-bottom: 2px !important;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  margin-bottom: 2px !important;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-error {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-alert {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}