@import "bootstrap.min.css";
@import "submissions.css.scss";

body {
  padding-top: 50px; /* Offset navbar */
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.sidebar {
  margin-top: 42px; /* Offset page heading padding */
  padding-left: 20px;
}

.sidenav li h4 {
  padding-left: 15px
}

.sidenav li {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

li.sidebar-item:hover {
  border-left: 1px solid #008cba;
  margin-left: -1px;
}

.sidenav a {
  color: #086a87;
  font-size: 14px;
}

ul hr {
  margin-bottom: 0;
}

.footer {
  margin-bottom: 18px;
}

.footer a {
  margin-right: 15px;
  font-size: 12px !important;
  color: #446e9b;
}

.footer a:hover {
  color: #2fa0bb;
  text-decoration: none;
}

form label {
  font-size: 14px !important;
  padding: 0 0 0 10px;
}

form textarea {
  font-size: 14px !important;
}

form .controls {
  padding: 10px 10px;
}

.field_with_errors {
  background-color: red;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic
}

.uid_heading {
  font-size: 18px;
  color: #888;
}

.hidden {
  display: none;
}

.alert {
  cursor: pointer;
  margin: 0 0 2px 0 !important;
  p {
    margin-bottom: 0 !important;
  }
}

/* Add some more aliases to bootstrap styles for devise */
.alert-notice {
  margin-bottom: 2px !important;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-notice hr {
  border-top-color: #c9e2b3;
}

.alert-notice .alert-link {
  color: #2b542c;
}

.alert-info {
  margin-bottom: 2px !important;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  margin-bottom: 2px !important;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-error {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-errors {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-alert {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.glyphicon {
  margin-right: 0.5em;
}

.warn {
 color: red;
}

.good {
 color: green;
}

.menu-icon-container {
  float: right;
  cursor: pointer;
  .menu-icon { font-size: 14px; }
  .glyphicon {
    color: #008cba;
  }
}
