/*
 *= require_tree .
 *= require_self
*/

body {
  padding-top: 50px; /* Offset navbar */
}

.bold {
  font-weight: bold;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.sidebar {
  margin-top: 42px; /* Offset page heading padding */
  padding-left: 20px;
}

.sidenav li h4 {
  padding-left: 15px
}

.sidenav li {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

li.sidebar-item:hover {
  border-left: 1px solid #008cba;
  margin-left: -1px;
}

.sidenav a {
  color: #086a87;
  font-size: 14px;
}

ul hr {
  margin-bottom: 0;
}

.footer {
  margin-bottom: 18px;
}

.footer a {
  margin-right: 15px;
  font-size: 12px !important;
  color: #446e9b;
}

.footer a:hover {
  color: #2fa0bb;
  text-decoration: none;
}

.quote {
  text-align: right;
  font-style: italic;
  margin-bottom: 0;
}

.byline {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  color: gray;
  margin-top: 0;
}

/* Form */

form label {
  font-size: 14px !important;
  padding: 0 0 0 10px;
}

form textarea {
  font-size: 14px !important;
}

form .controls {
  padding: 10px 10px;
}

input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.field_with_errors {
  background-color: red;
}

.input-group {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic
}

.uid_heading {
  font-size: 18px;
  color: #888;
}

.hidden {
  display: none;
}

.alert {
  cursor: pointer;
  margin: 0 0 2px 0 !important;
  p {
    margin-bottom: 0 !important;
  }
}

.btn a {
  color: inherit;
  text-decoration: none;
}

/* Add some more aliases to bootstrap styles for devise */
.alert-notice {
  margin-bottom: 2px !important;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-notice hr {
  border-top-color: #c9e2b3;
}

.alert-notice .alert-link {
  color: #2b542c;
}

.alert-info {
  margin-bottom: 2px !important;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  margin-bottom: 2px !important;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-error {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-errors {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.alert-alert {
  margin-bottom: 2px !important;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
}

.glyphicon {
  margin-right: 0.5em;
}

.warn {
 color: red;
}

.good {
 color: green;
}

.menu-icon-container {
  float: right;
  cursor: pointer;
  .menu-icon { font-size: 14px; }
  .glyphicon {
    color: #008cba;
  }
}

.btn {
  border-radius: 3px !important;
}

.label {
  border-radius: 3px !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: -2px;
  font-size: 100%;
}

.list-group-item {
  font-weight: normal;
  padding: 3px 15px;
  font-size: 15px;
  border: none;
}

.panel-heading {
  cursor: pointer;
}

.groups-course-divider {
//  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 90%;
  background-color: #00BFFF !important;
}

// Spinner
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(174,203,215);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}