.comment-form {
  .btn {
    margin-top: 5px;
    float: right;
  }
  #file-upload {
    float: left;
  }
}

.label-left {
  float: left;
  display: inline-block;
  padding: 5px 10px 5px 10px !important;
}

#group-data, {
  height: 0;; // Hide initially
  th {
    display: none;
  }
}

.charts {
  height: 0;
  margin-bottom: 50px;
}

.pie-charts {
  margin-top: 10px;
  width: 800px;
  height: 150px;
}

.pie-chart {
  width: 400px;
  float: left;
  display: inline-block;
}
.pie-chart canvas {
  float: left;
}

.legend {
  width: 180px;
  height: 150px;
  margin-left: 10px;
  float: left;
}

.legend-square {
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.legend li {
  margin-left: 20px;
  margin-bottom: 10px;
  list-style: none;
}

.legend ul {
  margin-top: 15px;
  padding-left: 0px;
}

.chart-title {
  display: none;
  margin-bottom: 10px;
}

.top {
  width: 100%;
  display: inline-block;
  .dataTables_length {
    float: left;
  }
  .dataTables_filter {
    float: right;
  }
}

.dataTables_paginate {
  text-align: center;
}

.top-pagination {
    .dataTables_paginate .pagination {
      margin: 0;
      margin-top: 5px;
    }
}

#custom-command-well {
  font-family: monospace;
}