.comment-form {
  .btn {
    margin-top: 5px;
    float: right;
  }
  #file-upload {
    float: left;
  }
}

.label-left {
  float: left;
  display: inline-block;
  padding: 5px 10px 5px 10px !important;
}