.plaintext-textarea {
  height: 200px;
  background-color: white;
  font-family: monospace;
}

.results {
  padding: 5px;
}

.comment {
  padding: 5px 15px 5px 15px;
  //border: 1px solid #086a87;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.6);
  margin-bottom: 10px;
  
  .small {
    padding-bottom: 15px;
    color: gray;
    text-transform: uppercase;
  }
  
  .delete {
    text-align: right;
  }
  
  .glyphicon {
    margin: 0 0 0 5px;
  }
}